@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@700&display=swap');

* {
    
}

nav {
    border-bottom: 2px solid black;
    
    height: 50px;
    
    display: flex;
}

nav div {
    border-left: 2px solid black;
    
    width: 100%;
    line-height: 50px;
    
    background-color: #1e90ff;
    color: white;
    
    text-align: center;
    font-family: 'Turret Road', cursive;
}

nav div:first-child {
    border-left: 0;
    border-top-left-radius: 5px;
}

nav div:last-child {
    border-top-right-radius: 5px;
}

#contact {
    width: 25%;
}

main {
    
}

footer {
    margin-top: 50%;
    margin-bottom: 5%;
    
    border-top: 1px solid black;
}

/* dator */

@media screen and (min-width: 600px) {
    
}